In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv(r"C:\Users\ManishPoudelTasColle\Downloads\archive\train.csv")

In [9]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [105]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

            Row ID   Postal Code         Sales
count  9800.000000   9800.000000   9800.000000
mean   4900.500000  55211.280918    230.769059
std    2829.160653  32076.677954    626.651875
min       1.000000      0.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  57551.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

Questions to Derive Insights:

Data Quality and Completeness:

1.What is the percentage of missing values in Postal Code? =0%
2.Are there any outliers or anomalies in the data (e.g., invalid Postal Codes or unusual Order Dates)? -NO
Customer Loyalty and Retention:

3.How many customers have repeated orders, and what is the frequency of these repeat orders?
- The number of repeated orders is 780

4.Is there a correlation between Customer Segment and repeat purchasing behavior?

In [58]:
1.
missing_percentage = df['Postal Code'].isna().mean() * 100

print(f"Percentage of missing values in 'Postal Code': {missing_percentage:.2f}%")

Percentage of missing values in 'Postal Code': 0.00%

In [59]:
3.
customer_order_counts = df.groupby('Customer ID')['Order ID'].nunique()

# Filter customers who have more than one order
repeated_customers = customer_order_counts[customer_order_counts > 1]

# Get the number of customers with repeated orders
num_repeated_customers = repeated_customers.count()

# Display the frequency of repeat orders for these customers
repeat_order_frequencies = repeated_customers.value_counts().sort_index()

print(f"Number of customers with repeated orders: {num_repeated_customers}")
print("\nFrequency of repeat orders per customer:")
print(repeat_order_frequencies)

Number of customers with repeated orders: 780

Frequency of repeat orders per customer:
Order ID
2      34
3      55
4     106
5     136
6     112
7     111
8      71
9      70
10     42
11     20
12     18
13      4
17      1
Name: count, dtype: int64

In [60]:
4.
#  Count the number of unique orders for each customer
customer_order_counts = df.groupby('Customer ID')['Order ID'].nunique().reset_index()
customer_order_counts.columns = ['Customer ID', 'Order Count']

#  Merge this data with customer segments
df_customers = df[['Customer ID', 'Segment']].drop_duplicates()
customer_segments = pd.merge(customer_order_counts, df_customers, on='Customer ID')

#  Identify repeat customers (Order Count > 1)
customer_segments['Is Repeat Customer'] = customer_segments['Order Count'] > 1

#  Calculate percentage of repeat customers by segment
repeat_customers_by_segment = customer_segments.groupby('Segment')['Is Repeat Customer'].mean() * 100

print("Percentage of repeat customers by segment:")
print(repeat_customers_by_segment)

Percentage of repeat customers by segment:
Segment
Consumer       98.288509
Corporate      97.881356
Home Office    99.324324
Name: Is Repeat Customer, dtype: float64

Customer Insights:
1.How many unique customers (Customer ID) are in the dataset? - 793
2.Which customers (Customer Name) have placed the highest number of orders? - 17 times by Emily Phan
3.What is the average number of orders per customer? -6.21
4.Are there specific Customer Segments that order more frequently? 
Ans:
Consumer       2537
Corporate      1491
Home Office     894

In [64]:
1.
unique_customers_count = df['Customer ID'].nunique()
print(f"Number of unique customers: {unique_customers_count}")

Number of unique customers: 793

In [84]:
2. 
top_customers =df.groupby('Customer Name')['Order ID'].nunique().sort_values(ascending =False)
print(top_customers.head())

Customer Name
Emily Phan             17
Chloris Kastensmidt    13
Joel Eaton             13
Zuschuss Carroll       13
Patrick Gardner        13
Name: Order ID, dtype: int64

In [85]:
3.
avg_orders_per_customer = df.groupby('Customer ID')['Order ID'].nunique().mean()
print(f"Average number of orders per customer: {avg_orders_per_customer:.2f}")

Average number of orders per customer: 6.21

In [86]:
4.
orders_by_segment = df.groupby('Segment')['Order ID'].nunique().sort_values(ascending=False)
print("Order frequency by Customer Segment:")
print(orders_by_segment)

Order frequency by Customer Segment:
Segment
Consumer       2537
Corporate      1491
Home Office     894
Name: Order ID, dtype: int64


Geographic Insights:
1.Which City and State have the highest number of orders? 
-City with the highest number of orders: New York City (891 orders)
State with the highest number of orders: California (1946 orders)
2.How do orders vary by Region?
-Orders by Region:
Region
West       3140
East       2785
Central    2277
South      1598
3.Are there any trends or patterns in sales by Postal Code?
Postal Code
10035.0    120
10024.0    118
10009.0    107
94122.0     94
10011.0     94
4.Are certain Ship Modes more popular in specific Regions or States?( Top 5)
Ship Mode  First Class  Same Day  Second Class  Standard Class
Region                                                        
Central            292       118           447            1420
East               470       154           521            1640
South              232        83           325             958
West               507       183           609            1841
Ship Mode popularity by State:
Ship Mode   First Class  Same Day  Second Class  Standard Class
State                                                          
Alabama             9.0       1.0          18.0            33.0
Arizona            42.0      16.0          27.0           138.0
Arkansas           10.0       2.0          10.0            38.0
California        314.0     117.0         386.0          1129.0
Colorado           44.0       6.0          33.0            96.0

In [87]:
1.
# City with the highest number of orders
top_city = df['City'].value_counts().idxmax()
top_city_orders = df['City'].value_counts().max()
print(f"City with the highest number of orders: {top_city} ({top_city_orders} orders)")

# State with the highest number of orders
top_state = df['State'].value_counts().idxmax()
top_state_orders = df['State'].value_counts().max()
print(f"State with the highest number of orders: {top_state} ({top_state_orders} orders)")

City with the highest number of orders: New York City (891 orders)
State with the highest number of orders: California (1946 orders)

In [88]:
2.
orders_by_region = df['Region'].value_counts().sort_values(ascending=False)
print("Orders by Region:")
print(orders_by_region)

Orders by Region:
Region
West       3140
East       2785
Central    2277
South      1598
Name: count, dtype: int64

In [89]:
3.
sales_by_postal_code = df.groupby('Postal Code')['Order ID'].nunique().sort_values(ascending=False)
print("Sales trends by Postal Code:")
print(sales_by_postal_code.head())  # Display top postal codes

Sales trends by Postal Code:
Postal Code
10035.0    120
10024.0    118
10009.0    107
94122.0     94
10011.0     94
Name: Order ID, dtype: int64

In [91]:
4.
ship_mode_by_region = df.groupby(['Region', 'Ship Mode'])['Order ID'].count().unstack().fillna(0)
print("Ship Mode popularity by Region:")
print(ship_mode_by_region.head(5))

ship_mode_by_state = df.groupby(['State', 'Ship Mode'])['Order ID'].count().unstack().fillna(0)
print("Ship Mode popularity by State:")
print(ship_mode_by_state.head(5))

Ship Mode popularity by Region:
Ship Mode  First Class  Same Day  Second Class  Standard Class
Region
Central            292       118           447            1420
East               470       154           521            1640
South              232        83           325             958
West               507       183           609            1841
Ship Mode popularity by State:
Ship Mode   First Class  Same Day  Second Class  Standard Class
State
Alabama             9.0       1.0          18.0            33.0
Arizona            42.0      16.0          27.0           138.0
Arkansas           10.0       2.0          10.0            38.0
California        314.0     117.0         386.0          1129.0
Colorado           44.0       6.0          33.0            96.0

Product Analysis:

1.How many unique products (Product ID) are sold? -  1861
2.Which Product Name has the highest number of orders?- Staple envelope (47 orders)
3.What is the distribution of orders by Category and Sub-Category?-
Distribution of orders by Category:       
Category                                                               
Office Supplies    5909
Furniture          2078
Technology         1813
Sub-Category
Binders        1492
Paper          1338
Furnishings     931
Phones          876
Storage         832
Art             785
Accessories     756
Chairs          607
Appliances      459
Labels          357
Tables          314
Envelopes       248
Bookcases       226
Fasteners       214
Supplies        184
Machines        115
Copiers          66
4.Are there certain Product Categories or Sub-Categories that are more popular among different Customer Segments?

In [94]:
1.
unique_products =df['Product ID'].nunique()
print(unique_products)

1861

In [95]:
2.
top_product_name = df['Product Name'].value_counts().idxmax()
top_product_orders = df['Product Name'].value_counts().max()
print(f"Product with the highest number of orders: {top_product_name} ({top_product_orders} orders)")

Product with the highest number of orders: Staple envelope (47 orders)

In [96]:
3.
orders_by_category = df['Category'].value_counts()
print("Distribution of orders by Category:")
print(orders_by_category)

orders_by_sub_category = df['Sub-Category'].value_counts()
print("\nDistribution of orders by Sub-Category:")
print(orders_by_sub_category)

Distribution of orders by Category:
Category
Office Supplies    5909
Furniture          2078
Technology         1813
Name: count, dtype: int64

Distribution of orders by Sub-Category:
Sub-Category
Binders        1492
Paper          1338
Furnishings     931
Phones          876
Storage         832
Art             785
Accessories     756
Chairs          607
Appliances      459
Labels          357
Tables          314
Envelopes       248
Bookcases       226
Fasteners       214
Supplies        184
Machines        115
Copiers          66
Name: count, dtype: int64

In [97]:
4.
category_by_segment = df.groupby(['Segment', 'Category'])['Order ID'].count().unstack().fillna(0)
print("Popularity of Product Categories by Customer Segment:")
print(category_by_segment)

sub_category_by_segment = df.groupby(['Segment', 'Sub-Category'])['Order ID'].count().unstack().fillna(0)
print("\nPopularity of Product Sub-Categories by Customer Segment:")
print(sub_category_by_segment)

Popularity of Product Categories by Customer Segment:
Category     Furniture  Office Supplies  Technology
Segment
Consumer          1093             3072         936
Corporate          628             1783         542
Home Office        357             1054         335

Popularity of Product Sub-Categories by Customer Segment:
Sub-Category  Accessories  Appliances  Art  Binders  Bookcases  Chairs  \
Segment
Consumer              400         240  423      769        130     324
Corporate             219         153  214      460         64     183
Home Office           137          66  148      263         32     100

Sub-Category  Copiers  Envelopes  Fasteners  Furnishings  Labels  Machines  \
Segment
Consumer           33        127        113          481     184        57
Corporate          20         81         59          278     100        35
Home Office        13         40         42          172      73        23

Sub-Category  Paper  Phones  Storage  Supplies  Tables
Segment
Consumer        676     446      444        96     158
Corporate       400     268      256        60     103
Home Office     262     162      132        28      53

Order Analysis:

1.How many unique orders (Order ID) are present in the dataset?
2.What is the distribution of orders by Order Date and Ship Date?
3.What is the average time taken between Order Date and Ship Date?- 9.22 days
4.Which Ship Mode is the most frequently used?-Standard Class (5859 orders)
5.Are there any patterns or trends in orders over time (monthly, quarterly, or yearly)?-

In [100]:
1.
unique_orders =df['Order ID'].nunique()
print(unique_orders)

4922

In [101]:
2. 
# Distribution by Order Date
orders_by_order_date = df['Order Date'].value_counts().sort_index()
print("Distribution of orders by Order Date:")
print(orders_by_order_date)

# Distribution by Ship Date
orders_by_ship_date = df['Ship Date'].value_counts().sort_index()
print("\nDistribution of orders by Ship Date:")
print(orders_by_ship_date)

Distribution of orders by Order Date:
Order Date
01/01/2018    10
01/02/2015     1
01/02/2017     2
01/03/2015    10
01/03/2016     7
              ..
31/10/2017     8
31/10/2018     3
31/12/2015    14
31/12/2016    11
31/12/2017     7
Name: count, Length: 1230, dtype: int64

Distribution of orders by Ship Date:
Ship Date
01/01/2016    14
01/01/2017     6
01/01/2018     8
01/01/2019    20
01/02/2016     1
              ..
31/10/2018     5
31/12/2015    15
31/12/2016    22
31/12/2017    13
31/12/2018     6
Name: count, Length: 1326, dtype: int64

In [108]:
3.
# Converting dates to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed')
df['Ship Date'] = pd.to_datetime(df['Ship Date'],format='mixed')

# Calculate the time difference
df['Time Taken'] = (df['Ship Date'] - df['Order Date']).dt.days

# Average time taken
avg_time_taken = df['Time Taken'].mean()
print(f"Average time taken between Order Date and Ship Date: {avg_time_taken:.2f} days")

Average time taken between Order Date and Ship Date: 9.22 days

In [109]:
4.
most_frequent_ship_mode = df['Ship Mode'].value_counts().idxmax()
most_frequent_ship_mode_count = df['Ship Mode'].value_counts().max()
print(f"Most frequently used Ship Mode: {most_frequent_ship_mode} ({most_frequent_ship_mode_count} orders)")

Most frequently used Ship Mode: Standard Class (5859 orders)

In [111]:
5.

# Convert Order Date to datetime if not already
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Resample orders by month
orders_by_month = df.resample('ME', on='Order Date').size()
print("Orders by Month:")
print(orders_by_month)

# Resample orders by quarter
orders_by_quarter = df.resample('QE', on='Order Date').size()
print("\nOrders by Quarter:")
print(orders_by_quarter)

# Resample orders by year
orders_by_year = df.resample('YE', on='Order Date').size()   
print("\nOrders by Year:")
print(orders_by_year)

Orders by Month:
Order Date
2015-01-31    126
2015-02-28     84
2015-03-31    161
2015-04-30    121
2015-05-31    146
2015-06-30    135
2015-07-31    154
2015-08-31    145
2015-09-30    238
2015-10-31    145
2015-11-30    258
2015-12-31    240
2016-01-31     86
2016-02-29    102
2016-03-31    144
2016-04-30    159
2016-05-31    174
2016-06-30    149
2016-07-31    128
2016-08-31    170
2016-09-30    271
2016-10-31    153
2016-11-30    279
2016-12-31    240
2017-01-31    154
2017-02-28    122
2017-03-31    190
2017-04-30    186
2017-05-31    257
2017-06-30    180
2017-07-31    201
2017-08-31    236
2017-09-30    225
2017-10-31    231
2017-11-30    288
2017-12-31    264
2018-01-31    209
2018-02-28    228
2018-03-31    302
2018-04-30    225
2018-05-31    241
2018-06-30    220
2018-07-31    241
2018-08-31    248
2018-09-30    382
2018-10-31    272
2018-11-30    369
2018-12-31    321
Freq: ME, dtype: int64

Orders by Quarter:
Order Date
2015-03-31    371
2015-06-30    402
2015-09-30    537
2015-12-31    643
2016-03-31    332
2016-06-30    482
2016-09-30    569
2016-12-31    672
2017-03-31    466
2017-06-30    623
2017-09-30    662
2017-12-31    783
2018-03-31    739
2018-06-30    686
2018-09-30    871
2018-12-31    962
Freq: QE-DEC, dtype: int64

Orders by Year:
Order Date
2015-12-31    1953
2016-12-31    2055
2017-12-31    2534
2018-12-31    3258
Freq: YE-DEC, dtype: int64

Sales Performance:

1.How does sales performance vary by Category, Sub-Category, and Product ID?
2.Are there any relationships between Ship Mode and the type of products ordered?
3.Which Product Categories or Sub-Categories have the highest sales in each Region or State?

In [11]:
1.
sales_per_category = df.groupby('Category')['Sales'].sum()
sales_per_sub_category = df.groupby('Sub-Category')['Sales'].sum()
sales_per_product_id = df.groupby('Product ID')['Sales'].sum()

print(sales_per_category)
print(sales_per_sub_category)
print(sales_per_product_id)

Category
Furniture          728658.5757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64
Sub-Category
Accessories    164186.7000
Appliances     104618.4030
Art             26705.4100
Binders        200028.7850
Bookcases      113813.1987
Chairs         322822.7310
Copiers        146248.0940
Envelopes       16128.0460
Fasteners        3001.9600
Furnishings     89212.0180
Labels          12347.7260
Machines       189238.6310
Paper           76828.3040
Phones         327782.4480
Storage        219343.3920
Supplies        46420.3080
Tables         202810.6280
Name: Sales, dtype: float64
Product ID
FUR-BO-10000112     825.174
FUR-BO-10000330    1064.624
FUR-BO-10000362    2154.348
FUR-BO-10000468     723.842
FUR-BO-10000711     851.760
                     ...
TEC-PH-10004912     351.680
TEC-PH-10004922    1085.238
TEC-PH-10004924      56.164
TEC-PH-10004959     341.666
TEC-PH-10004977    5291.730
Name: Sales, Length: 1861, dtype: float64

In [13]:
2.
ship_mode_product = df.groupby(['Ship Mode', 'Category'])['Sales'].sum().unstack()
print(ship_mode_product)

Category          Furniture  Office Supplies  Technology
Ship Mode
First Class     108739.0533        98227.435  138605.769
Same Day         39124.5090        28770.625   57323.905
Second Class    152657.8384       156054.417  141201.924
Standard Class  428137.1750       422369.857  490324.275

In [15]:
3.
# Sales by Category and Region
sales_by_category_region = df.groupby(['Region', 'Category'])['Sales'].sum().unstack()
print(sales_by_category_region)

# Sales by Sub-Category and State
sales_by_sub_category_state = df.groupby(['State', 'Sub-Category'])['Sales'].sum().unstack()
print(sales_by_sub_category_state)

Category    Furniture  Office Supplies  Technology
Region
Central   160317.4622       163590.243  168739.208
East      206461.3880       199940.811  263116.527
South     116531.4800       124424.771  148195.208
West      245348.2455       217466.509  247404.930
Sub-Category          Accessories  Appliances       Art    Binders  \
State
Alabama                  2322.830     208.160   301.210    466.820
Arizona                  3396.160     774.432  1379.808   2185.353
Arkansas                 1788.440         NaN    78.300   2889.830
California              36772.900   23736.750  5431.530  27685.688
Colorado                 2287.992    1367.296   210.624    508.968
Connecticut               657.690    1479.180   191.660    371.870
Delaware                  561.690     140.420   535.350   2434.030
District of Columbia          NaN         NaN    56.660      9.640
Florida                  5861.944    3558.440   706.472   3643.482
Georgia                  3305.270    3432.150   385.930  11538.720
Idaho                      89.970     227.840       NaN     71.656
Illinois                 5189.904     974.720   910.880   4536.434
Indiana                  1983.250    1754.950   389.190   3994.500
Iowa                          NaN         NaN   146.580    247.960
Kansas                     92.350      81.960   162.720    611.920
Kentucky                 2958.300    1335.620   350.720   3580.460
Louisiana                1667.800      17.340   129.500    628.520
Maine                     323.400     101.960       NaN     38.100
Maryland                 1123.810    1589.160   433.690   3225.050
Massachusetts             896.910    3347.750   226.050   2105.190
Michigan                 4932.550    4324.149  1004.860  22821.970
Minnesota                1520.380    2844.130   102.810  12470.240
Mississippi              2009.660     615.550   606.660    966.850
Missouri                 1021.680    3670.430   239.620   1875.620
Montana                   217.440         NaN       NaN    502.368
Nebraska                  239.940     500.570    19.460    128.230
Nevada                    229.550      95.980   214.280   4897.184
New Hampshire            2811.850      33.280   266.400    763.480
New Jersey               1023.560    4181.610   699.210   2673.390
New Mexico               1163.800         NaN   276.700    125.632
New York                19517.550   13263.270  2972.400  31213.752
North Carolina           3506.632    4137.552   603.392   2562.321
North Dakota                  NaN         NaN   181.840     25.900
Ohio                     7326.928    4807.536   840.104   1877.085
Oklahoma                 1817.470    1491.220    58.910    445.440
Oregon                   1160.304     535.768   340.992    281.064
Pennsylvania             7148.080    4629.752  1152.160   6266.058
Rhode Island             2209.760       2.220    49.250    189.490
South Carolina            138.890         NaN    35.440    515.080
South Dakota              392.940     416.320       NaN    114.510
Tennessee                 410.568    1914.984   436.480   5148.042
Texas                   10880.608    2407.814  2369.528   9003.898
Utah                      194.730    1089.750   100.050    759.592
Vermont                   305.010     542.940     8.040        NaN
Virginia                 2935.820    4305.530   876.320   4794.240
Washington              15119.160    1969.350  1063.840  18156.128
West Virginia                 NaN         NaN       NaN     88.640
Wisconsin                4671.230    2710.570   159.790    588.390
Wyoming                       NaN         NaN       NaN        NaN

Sub-Category           Bookcases     Chairs    Copiers  Envelopes  Fasteners  \
State
Alabama                      NaN   3915.540    899.970    105.840      3.620
Arizona                 519.2130   6499.080        NaN    214.520    101.232
Arkansas                638.8200   1673.280        NaN    311.700     42.670
California            26875.1895  61321.240  21279.584   3226.180    465.670
Colorado               1583.5230   8244.816    439.992     75.600     44.520
Connecticut            1682.7400   2782.420        NaN     10.860        NaN
Delaware               2051.7300   1559.920  10499.970    189.540     26.180
District of Columbia         NaN   1267.530        NaN        NaN        NaN
Florida                2587.0560  11168.816   1439.968    211.000     49.256
Georgia                3793.5000   1858.160   2999.950    446.570     15.120
Idaho                        NaN    338.352        NaN        NaN        NaN
Illinois               4282.6980  14563.178   5919.888    384.104    141.336
Indiana                      NaN   4537.510  18499.930    889.560        NaN
Iowa                         NaN   1408.100        NaN     13.400     45.920
Kansas                       NaN        NaN        NaN        NaN     24.050
Kentucky                261.9600   9233.570   1399.980    105.350     76.060
Louisiana               387.7000    802.340        NaN     62.300        NaN
Maine                        NaN        NaN        NaN        NaN        NaN
Maryland                881.8200   4329.910        NaN    337.150     27.320
Massachusetts          1873.7200   4245.600   1199.980        NaN     51.160
Michigan                810.2000  13878.060   1149.970    310.020    109.500
Minnesota                    NaN   6079.370    549.990     30.560     42.900
Mississippi             504.9000    866.400        NaN     91.370     35.020
Missouri                212.9400     60.890   5499.920     71.180        NaN
Montana                      NaN        NaN   2999.950        NaN        NaN
Nebraska                     NaN    563.940        NaN        NaN     57.640
Nevada                  141.9600    674.352        NaN        NaN      4.710
New Hampshire                NaN        NaN        NaN        NaN     14.820
New Jersey             2275.8800   2661.900        NaN    153.700     54.120
New Mexico                   NaN   1114.192        NaN     28.400        NaN
New York              22777.1440  46061.073  17199.840   1712.860    286.510
North Carolina          959.0560   2286.392    959.968    431.144     66.336
North Dakota                 NaN        NaN        NaN        NaN      7.410
Ohio                   2077.7050  10145.702   3839.934    498.032    204.896
Oklahoma                341.9600   3963.380        NaN    407.400        NaN
Oregon                  356.6460   3841.160        NaN     49.520     20.024
Pennsylvania           5230.7550  18724.174  13079.868   1234.064    154.712
Rhode Island            562.9400   3194.080   7399.870        NaN        NaN
South Carolina               NaN   2537.940        NaN    318.850     43.410
South Dakota            141.9600    182.940        NaN        NaN      6.540
Tennessee               518.2400   5074.888        NaN    177.352     86.664
Texas                 14109.9932  26044.018   5639.872   2431.080    332.464
Utah                   2699.8000        NaN   1499.950        NaN     10.000
Vermont                4404.9000    715.200        NaN      2.040        NaN
Virginia               1248.1300   5321.920   1599.920   1084.080     85.160
Washington             3144.4600  16386.872  20249.830    512.720    263.200
West Virginia                NaN        NaN        NaN        NaN        NaN
Wisconsin              3873.9600  11091.390        NaN        NaN      1.810
Wyoming                      NaN   1603.136        NaN        NaN        NaN

Sub-Category          Furnishings    Labels   Machines      Paper     Phones  \
State
Alabama                    40.480   506.490   3040.000    883.020   2706.280
Arizona                  2511.648    27.464    965.949   2440.760   7388.776
Arkansas                  573.490     7.310        NaN    805.520   2136.810
California              18934.530  2833.510  29492.016  16340.450  67139.680
Colorado                 1934.816    17.960   3313.689    876.544   4924.656
Connecticut               457.470    33.430        NaN    788.220   2133.340
Delaware                  623.990    74.130     65.970    435.790   3434.590
District of Columbia       79.050       NaN   1379.920     72.220        NaN
Florida                  3502.168   376.808  24573.940   2209.832  15092.184
Georgia                  1805.080   244.920    396.000   2913.560   6798.630
Idaho                     432.320       NaN        NaN    172.860    747.528
Illinois                 2816.432   208.936   3756.305   3393.800  16771.784
Indiana                  1495.520   276.210     83.900   1868.180   5392.590
Iowa                       34.580       NaN        NaN    208.000   1154.300
Kansas                    111.120    18.900        NaN    303.000    756.690
Kentucky                 1788.370   363.400   3080.000   1058.550   5114.360
Louisiana                 182.490    11.070    479.970    103.680    683.070
Maine                     109.480       NaN        NaN    259.740    437.850
Maryland                 3147.720   171.510    464.970   1039.350   2577.260
Massachusetts             833.740   165.650        NaN   1774.090   3629.740
Michigan                 1916.260   880.560   3410.955   1975.180   6633.300
Minnesota                 231.520   161.050        NaN    319.880    774.890
Mississippi               430.490    14.620        NaN    725.280    812.670
Missouri                  941.080    14.940        NaN    301.810    564.920
Montana                    63.980    14.620        NaN     41.000    445.544
Nebraska                 1380.760    14.400        NaN    332.790   3045.800
Nevada                    463.380    14.940   2396.400    317.780   2511.056
New Hampshire             833.310    41.160        NaN    284.880    824.950
New Jersey                950.970    66.340   9899.850   1190.890   3577.750
New Mexico                587.220    18.450        NaN    625.780    534.128
New York                 9887.330  1259.070  43183.500   8157.470  47001.800
North Carolina           1791.104   229.424  12620.655   2594.264   8995.864
North Dakota                  NaN       NaN        NaN        NaN        NaN
Ohio                     3470.960   145.320   8978.238   2061.232  14405.448
Oklahoma                 1444.920    64.240        NaN    196.620   4550.980
Oregon                    468.464   902.112    209.916    927.432   4451.336
Pennsylvania             7347.816   598.304   2133.717   2364.512  19702.404
Rhode Island              403.490       NaN        NaN    569.680    864.780
South Carolina            540.310       NaN        NaN    331.850   1452.730
South Dakota                  NaN    34.850        NaN        NaN        NaN
Tennessee                1699.248   115.368    740.475   1060.320   3656.240
Texas                    3718.972   583.600  19546.224   6913.888  28589.568
Utah                      165.170    30.150        NaN   1152.280    615.224
Vermont                       NaN       NaN        NaN     92.200   1294.750
Virginia                 4709.430   474.770   8959.920   1205.700  10649.500
Washington               3426.500  1153.890   6066.152   3318.740   9101.568
West Virginia                 NaN       NaN        NaN    447.840        NaN
Wisconsin                 924.840   177.850        NaN   1371.840   3705.130
Wyoming                       NaN       NaN        NaN        NaN        NaN

Sub-Category            Storage   Supplies     Tables
State
Alabama                1249.410    484.510   2376.460
Arizona                2590.384    282.528   3995.350
Arkansas                430.000        NaN    301.960
California            44113.470  15572.500  45085.576
Colorado               3150.072   1403.400   1457.130
Connecticut            2428.260    114.860    252.357
Delaware               4179.420        NaN    510.279
District of Columbia        NaN        NaN        NaN
Florida                6902.296   1067.896   5484.974
Georgia                7381.290     39.520    864.740
Idaho                   477.150        NaN   1824.810
Illinois               8657.296    178.152   6550.670
Indiana                4034.270        NaN   3518.840
Iowa                        NaN        NaN   1184.720
Kansas                  393.670    357.930        NaN
Kentucky               4822.430     86.320    842.940
Louisiana               805.130   1665.620   1504.520
Maine                       NaN        NaN        NaN
Maryland               3541.980     25.020    789.803
Massachusetts          4288.780     30.070   3966.004
Michigan               6187.480     74.480   5716.580
Minnesota              3397.730     37.240   1300.460
Mississippi             575.810        NaN   2516.060
Missouri               1791.940   4216.640   1721.540
Montana                1304.450        NaN        NaN
Nebraska               1164.500     16.900        NaN
Nevada                 1325.850     86.200   3355.480
New Hampshire           337.300     27.930   1053.164
New Jersey             4669.080    114.430    418.292
New Mexico              279.660     29.560        NaN
New York              25629.710   2458.850  13779.018
North Carolina         3438.088    302.040   9681.732
North Dakota            704.760        NaN        NaN
Ohio                   6415.896    478.808   7556.526
Oklahoma               2345.050     21.960   2533.840
Oregon                 1991.120     76.744   1671.860
Pennsylvania          11747.880   6710.208   8052.186
Rhode Island           4626.060    695.160   1758.246
South Carolina         2567.210        NaN        NaN
South Dakota                NaN     25.500        NaN
Tennessee              3310.856     97.792   6214.356
Texas                 15723.584   4516.760  15760.661
Utah                    901.580     44.400   1957.380
Vermont                1564.290        NaN        NaN
Virginia               3768.580   4575.230  14042.470
Washington            13122.460    483.340  21668.640
West Virginia               NaN        NaN    673.344
Wisconsin              1007.160     21.810    867.660
Wyoming                     NaN        NaN        NaN